body{
    background-image: url(bike-black-honda-2317а51h9.jpg);  
	background-repeat: no-repeat;
	background-color: #0e0202d9; 
    background-size: 100% auto;
    background-attachment: fixed; 
    

}
footer{
	margin: 40px;
	border: rgb(168, 3, 3) solid 2px;
	padding: 10px;
	border-radius: 15px;
	background-color: azure;
	
}


section.pricing {
	/* background: #007bff; */
	/* background: linear-gradient(to right, #0062E6, #33AEFF); */
  }
  
  .pricing .card {
		background: rgb(197, 186, 172);
	border: none;
	border-radius: 1rem;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
	margin: 1.5rem 0;
  }
  
  .pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	letter-spacing: .1rem;
	font-weight: bold;
  }
  
  .pricing .card-price {
	font-size: 3rem;
	margin: 0;
  }
  
  .pricing .card-price .period {
	font-size: 0.8rem;
  }
  
  .pricing ul li {
	margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
	opacity: 0.7;
  }
  
  .pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	opacity: 0.7;
	transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
	.pricing .card:hover {
	  margin-top: -.25rem;
	  margin-bottom: .25rem;
	  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	.pricing .card:hover .btn {
	  opacity: 1;
	}
  }



.text-muted{
	color:white!important;
}

.description{
	color:rgb(255, 251, 0);
	font-size: 150%;
}

.fa-li{
	font-size: 200%;
}
.pricing.card{
	opacity: 0.8;
}

.point{
	font-size: 110%;
	opacity: 1.0;
	font-family: 'Noto Serif', serif;
}



	
#head{ 
	/* стили для заголовка */
    margin: 10%;
    margin-left: 10%;
    margin-right:  10%;
    border-radius: 10%;
    color:white;
    border: #fffb00 solid 2px;
    padding: 10px;
    background-color: rgba(199, 19, 19, 0.815);
    text-align: center;
	font-size: 400%;
	font-family: 'Raleway', sans-serif;
}
nav a{
	/* стили для ссылок в панели навигации */
	color:rgb(1, 1, 146);
	font-weight: bolder;
	font-family: 'Noto Serif', serif;
}
#btn{
	/* стили для кнопок в панели навигации */
	color:rgb(1, 1, 146);
	font-weight: bolder;
	font-family: 'Noto Serif', serif;
}
.lead{
	/* стили для абзацев */
	color:white;
	text-align: justify;
	margin: 25px;
	padding-top: 40px;
	font-family: 'Acme', sans-serif;
}
#pus:hover{
	/* рамка при наведении на блок pus */
	border: #fffb00 dashed 2px;
	
}
.list-group-item:hover{
	
	background-color: #e01c1cd9;
}
.navbar-brand:hover{
	/* выделение при наведении на пункт меню */
	background-color: rgb(255, 103, 103);
	border:black 1px solid;
	border-radius: 5px;
}

.imgan{
	width: 100%;
  display: inline-block;
	margin: 10px;
}

.imgmot{
	/* стили для изображений "наши мотоциклы" */
	text-align: center;

	font-size: 24px;
	font-style: italic;
	font-weight: 600;
	color: #36c723;
}
#textblock{
	/* текстовое поле */
	margin-left: 100px;
    margin-top: 50px;
    border-radius: 25px;
	border: 10px solid #ecd6d6;
	padding: 15px;
}
#btntextblock{
	/* кнопка текстового поля */
	margin-left: 120px;
	margin-top:15px;	
}
#comment{
	/* стили для отзывов */
	color:white;
	font-size: 25px;
	margin-left: 120px;
	margin-top:25px;	
	font-family: 'Libre Franklin', sans-serif;
}